openapi: 3.1.0
info:
  title: Inworld AI Models API
  description: 'REST API for Inworld AI''s voice and conversational AI platform, covering

    Text-to-Speech (synchronous and streaming), Speech-to-Text, voice

    management, models, and the LLM Router that fronts 220+ third-party

    models via the OpenAI-compatible chat completions endpoint.

    '
  version: '1.0'
  contact:
    name: Inworld AI
    url: https://docs.inworld.ai
servers:
- url: https://api.inworld.ai
  description: Production API
security:
- basicAuth: []
tags:
- name: Models
  description: Available models
paths:
  /v1/models:
    get:
      tags:
      - Models
      summary: List available models
      operationId: listModels
      responses:
        '200':
          description: List of models
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        provider:
                          type: string
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: 'Authentication uses HTTP Basic with the API key as the username

        (password empty), encoded as: `Authorization: Basic base64(apiKey:)`.

        Get an API key at https://platform.inworld.ai.

        '
