openapi: 3.1.0
info:
  title: Inworld AI Models Realtime API
  description: 'REST API for Inworld AI''s voice and conversational AI platform, covering

    Text-to-Speech (synchronous and streaming), Speech-to-Text, voice

    management, models, and the LLM Router that fronts 220+ third-party

    models via the OpenAI-compatible chat completions endpoint.

    '
  version: '1.0'
  contact:
    name: Inworld AI
    url: https://docs.inworld.ai
servers:
- url: https://api.inworld.ai
  description: Production API
security:
- basicAuth: []
tags:
- name: Realtime
  description: Realtime speech-to-speech
paths:
  /v1/realtime/webrtc:
    post:
      tags:
      - Realtime
      summary: Create WebRTC connection
      description: Create a WebRTC session for realtime voice agent interaction.
      operationId: createRealtimeWebrtc
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sdp:
                  type: string
      responses:
        '200':
          description: WebRTC session details
          content:
            application/json:
              schema:
                type: object
                properties:
                  answer:
                    type: string
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: 'Authentication uses HTTP Basic with the API key as the username

        (password empty), encoded as: `Authorization: Basic base64(apiKey:)`.

        Get an API key at https://platform.inworld.ai.

        '
