openapi: 3.1.0
info:
  title: Inworld AI API
  description: |
    REST API for Inworld AI's voice and conversational AI platform, covering
    Text-to-Speech (synchronous and streaming), Speech-to-Text, voice
    management, models, and the LLM Router that fronts 220+ third-party
    models via the OpenAI-compatible chat completions endpoint.
  version: "1.0"
  contact:
    name: Inworld AI
    url: https://docs.inworld.ai
servers:
  - url: https://api.inworld.ai
    description: Production API
security:
  - basicAuth: []
tags:
  - name: TTS
    description: Text-to-Speech synthesis
  - name: Voices
    description: Voice catalog and custom voice management
  - name: STT
    description: Speech-to-Text transcription
  - name: Realtime
    description: Realtime speech-to-speech
  - name: Router
    description: LLM Router configurations
  - name: Models
    description: Available models
paths:
  /v1/tts/synthesize:
    post:
      tags: [TTS]
      summary: Synthesize speech
      description: Send text to the TTS REST API and receive a complete audio file in one response.
      operationId: synthesizeSpeech
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SynthesizeRequest'
      responses:
        '200':
          description: Synthesized audio
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SynthesizeResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/tts/synthesize:stream:
    post:
      tags: [TTS]
      summary: Synthesize speech (streaming)
      description: Stream synthesized audio chunks over HTTP as they are processed.
      operationId: synthesizeSpeechStream
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SynthesizeRequest'
      responses:
        '200':
          description: Streamed audio chunks (newline-delimited JSON)
          content:
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/SynthesizeResponse'
  /v1/tts/voices:
    get:
      tags: [TTS, Voices]
      summary: List available TTS voices
      operationId: listTtsVoices
      responses:
        '200':
          description: A list of TTS voices
          content:
            application/json:
              schema:
                type: object
                properties:
                  voices:
                    type: array
                    items:
                      $ref: '#/components/schemas/Voice'
  /v1/voices:
    get:
      tags: [Voices]
      summary: List voices
      operationId: listVoices
      responses:
        '200':
          description: Voice list
          content:
            application/json:
              schema:
                type: object
                properties:
                  voices:
                    type: array
                    items:
                      $ref: '#/components/schemas/Voice'
  /v1/voices/{id}:
    get:
      tags: [Voices]
      summary: Get voice
      operationId: getVoice
      parameters:
        - $ref: '#/components/parameters/VoiceId'
      responses:
        '200':
          description: Voice details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Voice'
    patch:
      tags: [Voices]
      summary: Update voice
      operationId: updateVoice
      parameters:
        - $ref: '#/components/parameters/VoiceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Voice'
      responses:
        '200':
          description: Updated voice
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Voice'
    delete:
      tags: [Voices]
      summary: Delete voice
      operationId: deleteVoice
      parameters:
        - $ref: '#/components/parameters/VoiceId'
      responses:
        '204':
          description: Voice deleted
  /v1/voices/clone:
    post:
      tags: [Voices]
      summary: Clone voice from audio
      operationId: cloneVoice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                audioSample:
                  type: string
                  format: byte
                  description: Base64-encoded audio sample
      responses:
        '200':
          description: Cloned voice
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Voice'
  /v1/voices/design:
    post:
      tags: [Voices]
      summary: Design voice from text description
      operationId: designVoice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
      responses:
        '200':
          description: Designed voice
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Voice'
  /v1/voices/publish:
    post:
      tags: [Voices]
      summary: Publish a voice
      operationId: publishVoice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                voiceId:
                  type: string
      responses:
        '200':
          description: Voice published
  /v1/stt/transcribe:
    post:
      tags: [STT]
      summary: Transcribe audio
      description: Transcribe audio to text with Inworld's Realtime STT API.
      operationId: transcribeAudio
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                audioContent:
                  type: string
                  format: byte
                  description: Base64-encoded audio bytes
                language:
                  type: string
                  example: en-US
      responses:
        '200':
          description: Transcription result
          content:
            application/json:
              schema:
                type: object
                properties:
                  transcript:
                    type: string
                  language:
                    type: string
  /v1/realtime/webrtc:
    post:
      tags: [Realtime]
      summary: Create WebRTC connection
      description: Create a WebRTC session for realtime voice agent interaction.
      operationId: createRealtimeWebrtc
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sdp:
                  type: string
      responses:
        '200':
          description: WebRTC session details
          content:
            application/json:
              schema:
                type: object
                properties:
                  answer:
                    type: string
  /v1/routers:
    get:
      tags: [Router]
      summary: List routers
      operationId: listRouters
      responses:
        '200':
          description: List of router configurations
          content:
            application/json:
              schema:
                type: object
                properties:
                  routers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Router'
    post:
      tags: [Router]
      summary: Create router
      operationId: createRouter
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Router'
      responses:
        '201':
          description: Router created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Router'
  /v1/routers/{id}:
    get:
      tags: [Router]
      summary: Get router
      operationId: getRouter
      parameters:
        - $ref: '#/components/parameters/RouterId'
      responses:
        '200':
          description: Router configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Router'
    patch:
      tags: [Router]
      summary: Update router
      operationId: updateRouter
      parameters:
        - $ref: '#/components/parameters/RouterId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Router'
      responses:
        '200':
          description: Updated router
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Router'
    delete:
      tags: [Router]
      summary: Delete router
      operationId: deleteRouter
      parameters:
        - $ref: '#/components/parameters/RouterId'
      responses:
        '204':
          description: Router deleted
  /v1/chat/completions:
    post:
      tags: [Router]
      summary: Create chat completion (OpenAI-compatible)
      description: Route chat completion requests via the LLM Router.
      operationId: createChatCompletion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [model, messages]
              properties:
                model:
                  type: string
                messages:
                  type: array
                  items:
                    type: object
                    properties:
                      role:
                        type: string
                        enum: [system, user, assistant]
                      content:
                        type: string
                stream:
                  type: boolean
                temperature:
                  type: number
                max_tokens:
                  type: integer
      responses:
        '200':
          description: Chat completion response
          content:
            application/json:
              schema:
                type: object
  /v1/models:
    get:
      tags: [Models]
      summary: List available models
      operationId: listModels
      responses:
        '200':
          description: List of models
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        provider:
                          type: string
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: |
        Authentication uses HTTP Basic with the API key as the username
        (password empty), encoded as: `Authorization: Basic base64(apiKey:)`.
        Get an API key at https://platform.inworld.ai.
  parameters:
    VoiceId:
      name: id
      in: path
      required: true
      schema:
        type: string
    RouterId:
      name: id
      in: path
      required: true
      schema:
        type: string
  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        status:
          type: string
    SynthesizeRequest:
      type: object
      required: [text, voiceId, modelId]
      properties:
        text:
          type: string
          maxLength: 2000
          description: Input string to convert to speech.
        voiceId:
          type: string
          description: Identifier for the desired voice.
        modelId:
          type: string
          example: inworld-tts-2
          description: TTS model selection (e.g., inworld-tts-2, inworld-tts-1.5-mini).
        audioConfig:
          $ref: '#/components/schemas/AudioConfig'
        language:
          type: string
          example: en-US
          description: BCP-47 language tag.
        deliveryMode:
          type: string
          enum: [STABLE, BALANCED, CREATIVE]
          description: Output variation control (TTS-2 only).
        timestampType:
          type: string
          enum: [WORD, CHARACTER]
        applyTextNormalization:
          type: string
          enum: [ON, OFF]
    AudioConfig:
      type: object
      properties:
        audioEncoding:
          type: string
          enum: [LINEAR16, MP3, OGG_OPUS, ALAW, MULAW, FLAC, PCM, WAV]
        sampleRateHertz:
          type: integer
          minimum: 8000
          maximum: 48000
        speakingRate:
          type: number
          minimum: 0.5
          maximum: 1.5
        bitRate:
          type: integer
          default: 128000
    SynthesizeResponse:
      type: object
      properties:
        audioContent:
          type: string
          format: byte
          description: Base64-encoded audio bytes in the requested format.
        usage:
          type: object
          properties:
            characterCount:
              type: integer
            modelId:
              type: string
        timestampInfo:
          type: array
          items:
            type: object
            properties:
              text:
                type: string
              startSeconds:
                type: number
              endSeconds:
                type: number
              phonemes:
                type: array
                items:
                  type: string
    Voice:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        language:
          type: string
        gender:
          type: string
        description:
          type: string
        previewUrl:
          type: string
          format: uri
    Router:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        rules:
          type: array
          items:
            type: object
            properties:
              model:
                type: string
              weight:
                type: number
              conditions:
                type: object
